@inherits LayoutComponentBase
@using QLVN_Blazor.Services
@inject ThemeState ThemeState
@implements IDisposable


<div id="pcoded" class="pcoded
     @ThemeState.Settings.MainLayout
     @(string.IsNullOrEmpty(ThemeState.Settings.SidebarEffect) ? "" : ThemeState.Settings.SidebarEffect)
     @(ThemeState.Settings.IsFixedHeader ? "headerpos-fixed" : "")
     @(ThemeState.Settings.IsFixedSidebar ? "contus-fixed" : "")  
     @(ThemeState.Settings.BorderStyle == "none" ? "no-border" : "")
     ">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <TopBar />
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <NavMenu />
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    @Body
                                </div>


                                <SettingTheme />
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        // Lắng nghe sự kiện để render lại khi có thay đổi từ SettingTheme
        ThemeState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        ThemeState.OnChange -= StateHasChanged;
    }
}